@import url('https://fonts.googleapis.com/css2?family=Kiwi+Maru&family=Roboto:wght@300;400&display=swap');

.App {
  text-align: center;
  height: fit-content;
  font-family: 'Roboto', sans-serif;
}

h1 {
  font-family: 'Kiwi Maru', serif;
}